.header{
    
    
    height: 3.25rem;
    background-color: #fa8900;
    padding: 1.5rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    margin-bottom:1rem;

}

.current-date-area{
    display: flex;

}

.current-date-area > span:nth-child(1){
    font-size: 2.3rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    flex: 1;
}

.current-date-area > .my-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    font-size: .85rem;
    flex: 1;
}



.date-picker{
    background:none;
    outline: none;
    border: none;
    border-bottom: 2px solid #5C5C61;
    padding: 0.25rem;
    color: #5C5C61;
    font-size: .90rem;
    cursor: pointer;
    margin-right: 1rem;
}

.get-data{

    background:none;
    outline: none;
    border: none;
    font-size: 0.90rem;
    font-weight: 500;
    color: white;
    background-color: #5C5C61;
    padding: 0.25rem;
    width: 120px;
    cursor: pointer;

}


.load__icon{
    display: inline-block;
    padding: 0.25rem;
    font-size: 0.90rem;
    opacity: 0;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load__icon.loading {
    opacity: 1;
    animation: spin 2s linear infinite;
    transition: all 300ms ease;
}